.navSearch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > * {
    height: inherit;
    display: flex;
    align-items: center;
  }

  label {
    position: absolute;
    left: -32px;

    i {
      color: #fff;
    }
  }

  input {
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px;
    transition: all 0.6s ease;
    max-width: 4vw;

    &:hover,
    &:focus,
    &:active {
      max-width: 48vw;

      @media screen and (max-width: 600px) {
        max-width: 32vw;
      }
    }
  }
}
