input,
textarea,
select {
  background: inherit;
  padding: 0.25rem 0;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-family: inherit;
  box-sizing: content-box;
  width: 100%;
  transition: all 0.3s ease-out;

  &:focus,
  &:active {
    background: #fff;
  }
}

main {
  max-width: 80vh;
  margin: 0 auto;
}
